.home-container{
    height: 85vh;
    width: 100vw;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background-color: $secondary-brown;
    img{
        height: 50%;
        width:100%;
        min-width:1000px;
        position: absolute;
        left: -9999px;
        right: -9999px;
        margin: auto;
    }
}