.nav-container{
    width: 100vw;
    height: 15vh;
    background-color: $primary-brown;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    box-sizing: border-box;
    .homeLogo{

    }
    .paths{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        a{
            margin-right: 1rem;
            font-size: 1.8rem;
            text-decoration: none;
            color: white
        }
    }
}
@media(max-width: 650px){
    .nav-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        .paths{
            display: flex;
            justify-content: center;
            a{
                margin:0 1rem;
            }
        }
    }
}